# ignorar las depenencias
node_modules/

#agregar las variables de entorno

#logs
*.logs
logs/

#editor especifico
.vscode/

#sistema operativo y otros archivos temporales
.DB_Store
Thumbs.db

#lockfiles si se require versionar el package-lock.json

#archivos temporales
temp/

#ignorar el .env por seguridad
.env