* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh; /* Esto debería asegurarse de que el contenedor ocupe toda la altura */
    overflow: hidden;
}

.half-circle {
    width: 100%;
    height: 50vh;
    background-color: #00CFFF; /* Color celeste */
    border-bottom-left-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.center-image {
    width: 1000px;
    height: 150px;
    margin-bottom: 50px; /* Para colocar la imagen un poco arriba del borde del semicírculo */
    z-index: 1;
}

.start-button {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #d3d3d3; /* Color gris */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    z-index: 1;
}

.start-button:hover {
    background-color: #e9e9e9;
}
