* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    background-color: rgb(255, 255, 255); /* Color temporal para verificar la visualización */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.half-circle {
    width: 100vw;
    height: 50vh;
    background-color: #00CFFF; /* Color celeste */
    border-bottom-left-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Ajuste para pantallas grandes */
@media (min-width: 1025px) {
  .center-image {
    width: 800px;
    height: 120px;
  }
  .start-button {
    font-size: 24px;
    padding: 8px 16px;
  }
}

/* Ajuste para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
  .center-image {
    width: 600px;
    height: 100px;
  }
  .start-button {
    font-size: 20px;
    padding: 6px 14px;
  }
}

/* Ajuste para móviles */
@media (max-width: 767px) {
  .center-image {
    width: 300px;
    height: 80px;
    margin-bottom: 30px; /* Para ajustar la imagen en móviles */
  }
  .start-button {
    font-size: 18px;
    padding: 6px 12px;
    bottom: 150px; /* Ajuste para reducir el espacio en pantallas pequeñas */
  }
  .half-circle {
    height: 40vh; /* Reducir el tamaño del semicírculo en móviles */
  }
}

.center-image {
    width: 85vw;
    height: 20vh;
    margin-bottom: 50px; /* Para colocar la imagen un poco arriba del borde del semicírculo */
    z-index: 1;
}

.start-button {
    position:absolute;
    bottom: 200px;
    background-color: #d3d3d3; /* Color gris */
    color: rgb(53, 53, 53);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1;
}

.start-button:hover {
    background-color: #e9e9e9;
}
