/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    width: 100vw;
    height: 100vh;
    background-color: #2ca0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Contenedor principal */
.login-container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 500px;
    margin: auto;
}

/* Sección izquierda */
.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.store-image {
    width: 300px;
    height: 50px;
}

.left-section h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

/* Separador */
.separator {
    width: 1px;
    background-color: #ccc;
    height: 80%;
    align-self: center;
}

/* Sección derecha */
.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.user-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 80%;
}

.input-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.input-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón de login */
.login-button {
    width: 80%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Responsivo para tablets */
@media (max-width: 1023px) and (min-width: 768px) {
    .login-container {
        width: 90%;
        height: auto;
    }

    .left-section, .right-section {
        padding: 15px;
    }

    .store-image {
        width: 250px;
    }

    .user-icon {
        width: 80px;
        height: 80px;
    }

    .input-box {
        font-size: 14px;
    }

    .login-button {
        font-size: 14px;
        padding: 8px;
    }
}

/* Responsivo para móviles */
@media (max-width: 767px) {
    .page-container {
        flex-direction: column;
        padding: 20px;
    }

    .login-container {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .separator {
        display: none;
    }

    .store-image {
        width: 200px;
    }

    .user-icon {
        width: 60px;
        height: 60px;
    }

    .input-box {
        font-size: 14px;
        padding: 8px;
    }

    .login-button {
        font-size: 14px;
        padding: 8px;
    }

}
