<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroTech</title>
    <link rel="stylesheet" href="../styles/style-bienvenido.css">
</head>
<body>
    <div class="container">
        <div class="half-circle">
            <img src="../img/electrotech_color.png" alt="Imagen centrada" class="center-image">
        </div>
        <button class="start-button">Iniciar</button>
    </div>
</body>
</html>
