* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

#root {
    display: flex; /* o display: grid; dependiendo de tu layout */
    flex-direction: column; /* para flexbox */
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #295274; /* Color celeste */
    padding: 10px 20px;
}

/* Sidebar styles */
.sidebar {
    width: 340px;
    background-color: #295274; /* Mismo color que el header */
    padding: 20px;
    height: 100%;
    flex-wrap: wrap;
}

/* Store image styles */
.store-image {
    width: 300px;
    height: 50px;
}


/* User info styles */
.user-info {
    display: flex;
    align-items: center;
}

.usr-icon {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1); /*Invierte el color de los iconos*/
}

.employee-select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    border: none;
    color: white;
}

.container {
    display: flex;
    height: calc(100vh - 70px); /* Altura del header */
    overflow: auto; /* Para permitir desplazamiento si es necesario */
    flex-direction: row ;
}

/* Sidebar button styles */
.sidebar-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    color: #fff; /* Texto en blanco para el panel izquierdo */
    transition: background-color 0.3s;/*Para efecto del hover */
    font-weight: 600;
}

.sidebar-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    filter: brightness(0) invert(1); /*Invierte el color de los iconos*/
}

/* Hover effect for sidebar buttons */
.sidebar-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo más claro al pasar el mouse */
}

.sidebar-button.active {
    background-color: #2ac3d3;    
}

/* Estios del Main*/
.main {
    height: 100%;
    flex: 1;
    background-color: #f8f5f5;
    flex-wrap: wrap;
}

.main-header {
    display: flex;
    align-items: center;
    background-color: #ecebeb; /* Color gris */
    padding: 10px;
    border-radius: 5px;
    height: 70px;
    color: #818181;
}

.main-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: grayscale(100%); /* Convierte el icono a gris */
    opacity: 0.5;
}

.panel-title {
    margin-top: 40px; /* Espacio entre el encabezado gris y el título */
    margin-left: 50px;
    font-size: 40px;
    font-weight: lighter;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.card {
    display: flex;
    flex: 1 1 220px; /* Responsive */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-icon {
    width: 100px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
}

.icon-small {
    width: 40px;
    height: 40px;
}

.card-info {
    flex: 1;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-weight: lighter;
    color: #494949;
}

.number {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}
